<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= sub_title %></p>
    <form action="/" method="post">
    <input id="movie_id" type="text" name="id_field" placeholder='Enter movie name...' autocomplete='off'>
    <input type="submit" value="Search">
</form>

<div class="results">
<%= displayResults %>
</div>
    
  </body>
</html>
