<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/" method="post">
    <%# <label for="movie_id">What's the movie name: </label> %>
    <input id="movie_id" type="text" name="id_field" placeholder='Enter movie name...' autocomplete='off'>
    <input type="submit" value="Search">
</form>
    
  </body>
</html>
